* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important; /*Da un margen*/
    background: url(Images/header.png) no-repeat center;
    background-size: cover;
}

.header h1 {
    margin-top: 100px;
}

.header p {
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.question {
    background-color: #171717;
}
.question h2 {
    color: #fff;
    padding-bottom: 150px;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63;
    background-color: #171717;
    position: fixed;
    width: 100%;
    z-index: 100%;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid #b6c6f1;
    color:rgb(255, 255, 255);
    text-decoration: none;
    background: #b6c6f1;
}

.btn-home {
    display: flex;
}

.btn:hover {
    background-color: #8e9abb;
    border: 2px solid #8e9abb;
}

.btn-home a {
    margin: 0 10px;
}

.btn-know {
    margin-top: 15px;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec {
    padding: 30px;
    background: #252525;
  }

.sec h2 {
    margin-top: 250px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: -150px;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #88bfff;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
}

/*Faltan los iconos*/
/*.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #5e82a5;
    font-size: 2rem;
    margin: 1rem 0;
}*/

.box-container .box h3 {
    font-size: 20px;
    color: #ffffff;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #252525;
}

.contact { /*Imagen contacto en images */
    background: url("Images/contacto.png") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.rights {
    background: #171717;
    height: 100px;
    padding-top: 30px;
}

/* Sacado de https://www.aleksandrhovhannisyan.com/blog/responsive-navbar-tutorial/ tbh queria que se vea bn*/

:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  .container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }

  #navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  .navbar-logo {
    background: url("Images/logosmoll.png") no-repeat center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
  }
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }

  